@font-face {
  font-family: 'GoudyBookletter';
  src: url('..//font/GoudyBookletter1911.eot'); /* IE9 Compat Modes */
  src: url('../font/GoudyBookletter1911.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/GoudyBookletter1911.woff') format('woff'), /* Modern Browsers */
       url('../font/GoudyBookletter1911.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../font/GoudyBookletter1911.svg#svgFontName') format('svg'); /* Legacy iOS */
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* + * {
  margin-top: 16px;
}

h1 + p,
h2 + h3 {
  margin-top: 0;
}

html {
  border-left: 4px solid #c2554f;
  border-right: 4px solid #c2554f;
  min-height: 100%;
}

body {
  background: #eaeae8 url(../img/background-small.jpg);
  color: #3b3b3b;
  font: 16px "Avenir Next", Avenir, "Helvetica Neue", "Verdana", sans-serif;
  padding: 0 16px;
}

article {
  margin: 0 auto;
  max-width: 576px;
  width: 100%;
}

header {
  background: url(../img/Leaf.svg) 50% 100% no-repeat;
  background-size: 16px 16px;
  padding: 16px 0 32px;
  position: relative;
}

header:before,
header:after {
  content: " ";
  position: absolute;
  height: 1px;
  width: 50%;
  bottom: 8px;
}

header:before {
  background-image: linear-gradient(to left, transparent 0, transparent 16px, #c2554f 16px);
  left: 0;
}

header:after {
  background-image: linear-gradient(to right, transparent 0, transparent 16px, #c2554f 16px);
  right: 0;
}

header h1 {
  color: #c2554f;
  font: 32px GoudyBookletter, Georgia, serif;
  text-align: center;
}

header h2 {
  color: #3b3b3b;
  font: 18px GoudyBookletter, Georgia, serif;
  text-align: center;
  margin-top: 10px;
}

header h3 {
  color: #777;
  font: 100 italic 16px "Avenir Next Condensed", "Avenir Next", "Helvetica Neue", Verdana, sans-serif;
  text-align: center;
}

section h1 {
  color: #c2554f;
  font: 24px GoudyBookletter, Georgia, serif;
}

a {
  color: #3b3b3b;
  font-weight: bold;
  text-decoration: none;
}

.column {
  display: block;
  float: left;
  width: 100%;
}

@media all and (min-width: 616px) {
  .column { max-width: 272px; }
  .column:nth-child(odd) {
    float: right;
  }
}
