html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  background: #252525;
  color: #efefef;
  font-family: "Avenir Next", Avenir, "Helvetica Neue", Verdana, sans-serif;
  font-size: 16px;
}

a {
  color: #c2554f;
  text-decoration: none;
}

header {
  background: #c2554f;
  color: #efefef;
  padding: 16px;
  margin-bottom: 16px;
  text-align: center;
}

header a {
  color: #efefef;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Foro Rounded", "Foro", "Adelle", serif;
  margin: 0;
}

h1 { font-size: 36px; }
h2 { font-size: 24px; }
h3 { font-size: 18px; }

article section, article footer {
  max-width: 640px;
  margin: 0 auto;
  padding: 16px;
}

article footer {
  border-top: 1px dotted #121212;
}
