body {
  background: center / cover no-repeat #242424 url('../img/looking-up.jpg');
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-height: 90vh;
  height: 100%;
  min-height: 1px;
  margin: 0 auto;
  padding: 5vh 5vw;
  max-width: 1280px;
}

#black-hole {
  width: 25%;
  min-width: 150px;
  margin: 0 auto;
}

#hmu {
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 0, 0.2);
  padding: 4px 8px;
  display: block;
  margin: 0 auto;
  line-height: 16px;
  border-radius: 0.4rem;
  text-decoration: none;
  font-size: 0.7rem;
  border: 1px solid transparent;
}

#hmu:hover {
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 16px rgba(255, 255, 252, 0.2);
}

#hmu:active {
  border: 1px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 16px rgba(255, 255, 252, 0.8);
}